/* body {
  background-image: url("background.jpg");
  font-family: 'Helvetica';
  font-size: 20px;
  color: white;
  background-size: 100%;
} */

html {
  box-sizing: border-box;
  background: url("background.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}
